.title-form{
    height: 24px;
    background: #EFF3FA;
    border-bottom: 1px solid #C4D2EB;
    display: flex;
    align-items: center;
    width: 910px;
}

.title-form h1{
    font-size: 70%;
    color: #003395;
    width: 70%;
    margin-left: 20px;
    font-weight: bold;
}