<div class="institutional-area">
    <h3>Dados institucionais</h3>
    <div class="area">
        <table>
            <tbody>
              <tr>
                <td id="name-item">Matrícula</td>
                <td id="data-item">{{register}}</td>
              </tr>
              <tr>
                <td id="name-item">Curso</td>
                <td id="data-item">{{undergraduate_degree}}</td>
              </tr>
              <tr>
                <td id="name-item">Nível</td>
                <td id="data-item">{{level}}</td>
              </tr>
              <tr>
                <td id="name-item">Status</td>
                <td id="data-item">Ativo</td>
              </tr>
              <tr>
                <td id="name-item">E-Mail</td>
                <td id="data-item">{{email}}</td>
              </tr>
              <tr>
                <td id="name-item">Entrada</td>
                <td id="data-item">{{initial_semester}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
