th, td{
    font-size: 70%;
    
}

#course-item-name{
    font-weight: bold;
}
table{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
   
}

#time{
    width: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 8px;
    text-align: left;
    background-color: #EFF3FA;
  }

  th {
    background-color: #E6ECF7;
  }

  p{
    font-size: 70%;
    
    width: 100%;
  }

  #semester-courses{
    font-size: 70%;
    text-transform: uppercase;
    font-weight: bold;
  }