<div class="courses-list">
    <p id="semester-courses">Turmas do semestre</p>
    <div id="">
        <table>
            <thead>
                <tr>
                    <th>Componente Curricular</th>
                    <th>Local</th>
                    <th>Horário</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td id="course-item-name">Exemplo</td>
                <td>Sala 04</td>
                <td id="time">23456M12345 (22/11/2023 - 08/12/2023)</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
