.help{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help p{
    font-size: 70%;
}

.help a{
    text-decoration: none;
    color: #003390;
    font-weight: bold;
}