.register{
    width: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register p{
    font-size: 70%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

form{
    background-color: #F9FBFD;
    border: 1px solid #DEDFE3;
    width: 512px;
    
}

caption {
    background: #5166b3;
    font-weight: bold;
    color: #fff;
    height: 21px;
    text-align: center;
    line-height: 21px; 
    width: 512px;
}

caption h2{
    font-size: 70%;
}

th{
    font-size: 70%;
    font-weight: normal;
    text-align: right;
}

input{
    height: 17px;
    font-size: 70%;
}

table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

tfoot{

    width: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEDFE3;
    background: #C8D5EC;
    height: 24px;
}

#buttons-form{
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

#buttons-form input{
    height: 17px;
    font-size: 70%;
}

.input-password{
    width: 127px;
    height: 17px;
}

.th-input{
    background: url(../../../assets/images/required.gif) no-repeat right;
    padding-right: 13px;
}

.litle-input{
    width: 150px;
}

.large-input{
    width: 250px;
}

#mandatory{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    height: 38px;
    width: 512px;
}

.form-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 850px;
}

#errors-id{
    display: flex;
    justify-content:left;
    align-items: center;
    width: 100%;
}

#errors-id ul li{
    font-size: 70%;
    color: #F11;
    font-weight: bold;
    margin-top: 5px;
}

#close-errors{
   display: flex;
   justify-content:right;
   height: auto;
   width: 100%;
   
}

#close-errors p{
    color: #AAA;
    font-size: 70%;
    font-weight: bold;
    cursor: pointer;
}