<div class="register">
  <app-title-forms titleForm="CADASTRO DE DISCENTES"></app-title-forms>
  <P
    >Para cadastrar-se no SIGAA é necessário preencher o formulário abaixo. O
    cadastro só será validado se os dados digitados forem
    <i>iguais aos dados informados no processo seletivo.</i></P
  >
  <form [formGroup]="form">
    <table>
      <caption>
        <h2>DADOS DO DISCENTE</h2>
      </caption>
      <tbody>
        <tr>
          <th class="th-input">Nome:</th>
          <td>
            <input
              type="text"
              class="litle-input"
              formControlName="name"
              (input)="onInputChangeChar('name', $event)"
            />
          </td>
        </tr>
        <tr>
          <th class="th-input">Sobrenome:</th>
          <td>
            <input
              type="text"
              class="large-input"
              formControlName="last_name"
              (input)="onInputChangeChar('last_name', $event)"
            />
          </td>
        </tr>
        <tr>
          <th class="th-input">Matrícula:</th>
          <td>
            <input
              type="text"
              class="litle-input"
              formControlName="registration_number"
              (input)="onInputChangeNumber('registration_number', $event)"
            />
          </td>
        </tr>
        <tr>
          <th class="th-input">Nível:</th>
          <td>
            <select
              name="level"
              id=""
              class="large-input"
              formControlName="level"
            >
              <option value="Graduação">GRADUAÇÃO</option>
              <option value="Mestrado">MESTRADO</option>
            </select>
          </td>
        </tr>
        <tr>
          <th class="th-input">CPF:</th>
          <td>
            <input
              type="text"
              class="litle-input"
              formControlName="cpf"
              (input)="formataCPF('cpf', $event)"
              maxlength="11"
            />
          </td>
        </tr>
        <tr>
          <th class="th-input">RG:</th>
          <td>
            <input
              type="text"
              class="litle-input"
              formControlName="rg"
              (input)="onInputChangeNumber('rg', $event)"
              maxlength="15"
            />
          </td>
        </tr>
        <tr>
          <th class="th-input">Data de Nacimento:</th>
          <td>
            <input type="date" name="" id="" formControlName="date_of_birth" />
          </td>
        </tr>
        <tr>
          <th class="th-input">Email:</th>
          <td>
            <input
              type="email"
              name=""
              id=""
              class="large-input"
              formControlName="email"
            />
          </td>
        </tr>
        <tr>
          <th>Login</th>
        </tr>
        <tr>
          <th class="th-input">Senha:</th>
          <input
            type="password"
            class="litle-input"
            formControlName="password"
          />
        </tr>
        <tr>
          <th class="th-input">confirmar Senha:</th>
          <input
            type="password"
            class="litle-input"
            formControlName="confirmPassword"
          />
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td id="buttons-form">
            <input type="submit" value="Cadastrar" (click)="onSubmit()" />
            <input type="submit" value="Cancelar" (click)="backPage()" />
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
  <div id="mandatory">
    <img src="../../../assets/images/required.gif" alt="" />
    <p>Campos de preenchimento obrigatório</p>
  </div>
</div>
