.news{
    margin-top: 4px;
    width: 535px;
    padding: 10px 5px 5px 10px;
    background: #FFFCF5;
    color: #433F0F;
    height: 180px;
}

.news p{
    margin-top: 30px;
    font-size: 80%;
    font-weight: bold;
}