#name-user p{
    font-size: 70%;
    font-weight: bold;
    margin-left: 5px;
    margin-top:10px;
    text-transform: uppercase;
}

.home-body{
    display: flex;
}

.left-block{
    width: 65%;
    background: black;
    height: 800px;
    background: #fff;
    display: flex;
    flex-direction: column;
    
}

.right-block{
    width: 35%;
    background: #CFDCEF;
    height: 800px;
}